<?xml version="1.0"?>
<extension>
    <id>billplz</id>
    <version>3.1.2</version>
    <type>payment</type>
    <category>payment</category>
    <cartversions>
        <item>1.3</item>
    </cartversions>
    <layout></layout>
    <priority>10</priority>
    <settings>
        <item id="billplz_api_key">
            <type required="true">input</type>
            <default_value></default_value>
        </item>
        <item id="billplz_collection_id">
            <type required="true">input</type>
            <default_value></default_value>
        </item>
        <item id="billplz_x_signature">
            <type required="true">input</type>
            <default_value></default_value>
        </item>
        <item id="billplz_skip_bill_page">
            <type required="true">selectbox</type>
            <variants>
                <item>false</item>
                <!-- <item>true</item> -->
            </variants>
            <default_value>false</default_value>
        </item>
        <item id="billplz_env">
            <type required="true">selectbox</type>
            <variants>
                <item>production</item>
                <item>sandbox</item>
            </variants>
        </item>
        <item id="billplz_charges">
            <type required="false">input</type>
            <default_value>0.00</default_value>
        </item>
        <item id="billplz_order_status_id">
            <type>selectbox</type>
            <variants>
                <data_source>
                    <model_rt>localisation/order_status</model_rt>
                    <method>getOrderStatuses</method>
                </data_source>
                <fields>
                    <field>order_status_id</field>
                    <field>name</field>
                </fields>
            </variants>
            <default_value>2</default_value>
        </item>
        <item id="billplz_location_id">
            <type>selectbox</type>
            <variants>
                <item>0</item>
                <data_source>
                       
                    <model_rt>localisation/location</model_rt>
                       
                    <method>getLocations</method>
                </data_source>
                <fields>
                    <field>location_id</field>
                    <field>name</field>
                </fields>
            </variants>
        </item>
    </settings>
</extension>
